.app-sidebar{
    flex: 2;
}

.login-info,.logout-info{
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-info .user-icon,.logout-info .user-icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}